@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
 *,*::before,*::after{
   box-sizing:border-box;
 }
 html,body,ul,h,p{
   margin:0;
   padding:0;
 }

}

@layer utilities{
   .container{
     @apply mx-auto w-full max-w-[88rem] 
   }
   .container-primary-px{
    @apply  px-[4rem] md:px-[2rem] xsm:px-[1rem]
   }
   .h2-primary{
    @apply text-third text-center text-[2.5rem] font-poppins font-medium
   }
}


